body {
    background-color: $colorPrincipal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    h1 {
        font-weight: 800;
    }
}

.contacto {
    background-image: url(../img/imagecontact.jpg);
}

.formulario {
    margin-inline: 1rem;
    padding-inline: 1.5rem;
    align-items: center;

}