body {
    background-color: $colorPrincipal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    h1 {
        font-weight: 800;
    }
}

.recitales {
    background-image: url(../img/imageconcert.jpg);
    background-size: 600px;
    background-repeat: repeat;
}

.tour {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    .tour-title {
        font-size: 24px;
        background-color: $colorPrincipal;
        color: $colorSecundario;
    }

    table {
        background-color: $colorPrincipal;
        color: $colorSecundario;
        border-collapse: collapse;
        margin-top: 20px;
        text-align: center;
        align-items: center;

        th,
        td {
            border: 1px solid $colorTablaUno;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: $colorTablaDos;
        }

    }

}
