body {
    background-color: $colorPrincipal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    h1 {
        font-weight: 800;
    }
}

.discos {
    background-color: $colorPrincipal;
}

.cuerpo-albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "album-1    album-2    album-3"
        "album-4    album-5    album-6"
        "album-7    album-8    album-9"
        "album-10   album-11   album-12"
        "album-13   album-14   album-15"
        "album-16   album-17   .";

    .album-1 {
        grid-area: album-1;
    }

    .album-2 {
        grid-area: album-2;
    }

    .album-3 {
        grid-area: album-3;
    }

    .album-4 {
        grid-area: album-4;
    }

    .album-5 {
        grid-area: album-5;
    }

    .album-6 {
        grid-area: album-6;
    }

    .album-7 {
        grid-area: album-7;
    }

    .album-8 {
        grid-area: album-8;
    }

    .album-9 {
        grid-area: album-9;
    }

    .album-10 {
        grid-area: album-10;
    }

    .album-11 {
        grid-area: album-11;
    }

    .album-12 {
        grid-area: album-12;
    }

    .album-13 {
        grid-area: album-13;
    }

    .album-14 {
        grid-area: album-14;
    }

    .album-15 {
        grid-area: album-15;
    }

    .album-16 {
        grid-area: album-16;
    }

    .album-17 {
        grid-area: album-17;
    }

    .caratula {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;

        .caratula-img {
            max-width: 100%;
            border-radius: 8px;

            &:hover {
                transform: scale(1.5);
            }
        }

        .caratula-title {
            background-color: $colorPrincipal;
            color: $colorSecundario;
            font-size: 20px;
            text-align: center;
            padding: 1rem;
        }
    }
}