footer {
    background-color: $colorTransparencia;
    color: $colorTerceario;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    display: block;

    .titlefoot {
        color: $colorSecundario;
        font-size: 25px;
        margin-bottom: 1.5rem;
    }

    .redes-sociales {
        a {
            color: $colorTerceario;
            font-size: 30px;
            margin: .5rem 1rem;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: $colorFacebook; /* Color de Facebook en hover */
            }

            &.fab.fa-instagram:hover {
                color: $colorInstagram; /* Color de Instagram en hover */
            }

            &.fab.fa-youtube:hover {
                color: $colorYoutube; /* Color de YouTube en hover */
            }

            &.fab.fa-spotify:hover {
                color: $colorSpotify; /* Color de Spotify en hover */
            }
        }
    }
}