body {
    background-color: $colorPrincipal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    h1 {
        font-weight: 800;
    }
}


.inicio {
    background-image: url(../img/imageindex.jpg);
}

.cuerpo-title {
    color: $colorSecundario;
    background-color: $colorPrincipal;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: .5rem 0;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.videoMaiden {
    text-align: center;
    opacity: 75%;
}

.fotosBanda {
    text-align: center;

    .foto1,
    .foto2,
    .foto3 {
        width: 400px;
        height: 200px;
        margin: .5rem;
        padding: .5rem;
    }
}

