.cuerpo-title,
.historiaBanda,
.integrantes {
    color: $colorSecundario;
    background-color: $colorPrincipal;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: .5rem 0;
}

.miembros {
    list-style-type: none;
}





