$colorPrincipal: #00000fc9;
$colorSecundario: #cb3d3d;
$colorTerceario: #ffffff;
$colorTablaUno: #ddd;
$colorTablaDos: #f2f2f2;
$colorTransparencia: #00000fcb;
$colorFacebook: #1877f2;
$colorInstagram: #e4405f;
$colorYoutube: #ff0000;
$colorSpotify: #1db954;